body {
    margin: 0;
    font-family: PT Mono,monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    text-align: left;
    background-color: #261a4b;
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}

.facebook-login-wrapper,
.google-login-wrapper {
	opacity: 0.0;
	position: absolute;
	padding-left: 70px;
	z-index: 30;
}
.google-login-wrapper {
	bottom: 20px;
}
.facebook-login-wrapper {
	bottom: 80px;
}
.login-buttons {
    margin-bottom: 30px;
}
.login-buttons .btn:not(:last-child) {
    margin-bottom: 10px;
}
.social-facebook, .social-google {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 14px;
    top: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
}
.social-facebook {
    background-color: #3a5998;
}
.social-google {
    background-color: #dc4e41;
}
.fab {
    font-family: Font Awesome\ 5 Brands;
}
.fa-facebook-f:before {
    content: "\f39e";
}
.fa-google:before {
    content: "\f1a0";
}
.welcome-text {
    position: relative;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: block;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.welcome-text h1 {
    font-size: 36px;
    line-height: 43px;
     margin-top: 66px;
}
.welcome-text p {
    margin: 0;
}
.g-signin2, .g-signin2 > div {
	width: 250px !important;
}

@media only screen and (orientation: landscape) {
	.main-wrapper {
		padding-top: 64px;
	}

	.view {
		top: 64px;
	}
	.login-buttons {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.login-buttons .btn:not(:last-child) {
		margin-bottom: 0;
		margin-right: 10px;
	}
	.login-buttons .btn {
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}
