@import url(https://fonts.googleapis.com/css?family=PT+Mono);
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: Helvetica;
	color: black;
	font-size: 14px;
	overflow: hidden;
}

select {
	font-size: 1em;
}

button {
	border-radius: 5px;
	font-size: 2em;
}

img {
    vertical-align: middle;
    border-style: none;
}

.content { 
	height: 100%;
}

main {
    width: 100vw;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.copyright {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	margin-left: -4px;
}

.main-wrapper {
    height: 100%;
    padding-top: 92px;
}

.view {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 92px;
    height: auto;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 30px;
    padding-right: 30px;
}
select[name=msgtype] {
	margin-top: 20px;
	margin-bottom: 20px;
    border: 1px solid lightseagreen;
    border-radius: 20px;
    padding: 10px 20px 10px 10px;
	background-color: white;
	color: grey;
}
svg { 
	float: left;
	transform: scale(0.85);
}
svg line {
  stroke: #999;
  stroke-opacity: 0.6;
  position: relative;
  z-index: 20;
}

svg circle {
 
  stroke: #000;
  stroke-width: 1.5px;
  position: relative;
  z-index: 100;
  transition: transform 2s;
}
svg .circles {
  cursor: pointer;
}

.content {
	text-align: center;
}
.submit {
	width: 200px;
	height: 50px;
	margin-top: 20px;
	background-color: orangered;
	color: white;
	border: 0;
	border-radius: 10px;
	font-family: monospace;
}

input[name=msg] {
	width: 250px;
	height: 30px;
	border: none;
	border-bottom: 1px solid lightseagreen;
	text-align: center;
	padding: 3px;
	font-size: 14px;
	margin: 20px 0px 20px 0px;
}

.sentence-pending-results-wrapper {
    display: inline-block;
    width: auto;
    height: 200px;
    overflow-y: scroll;
    display: inline-block;
    width: auto;
    height: 200px;
    overflow-y: scroll;
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
    background-color: floralwhite;
}

.sentence-pending-results-wrapper td {
	text-align: center;
	text-transform: capitalize;
}
.sentence-pending-results-wrapper table {
	min-width: 325px;
}
.success-msg {
	display: inline-block;
	width: 250px;
	font-size: 15px;
	padding: 20px 0 20px 0;
	color: lightseagreen;
}
h3.sentence-header {
	font-size: 18px;
	font-weight: 500;
	color: orangered;
	padding: 20px 0px 0px 0px;
	
}
	
td.sentence-msg {
	text-align: left;
	padding: 0px 0px 10px 0px
}

td.sentence-msg em {
	color: lightslategray;
}

.sentence-results-wrapper {
	background-color: antiquewhite;
	border-radius: 5px;
}
.tone-anger {
	color: red;
}
.tone-disgust {
	color: darkorange;
}

.tone-fear {
	color: purple;
}

.tone-joy {
	color: gold;
}

.tone-sadness {
	color: dimgrey;
}
td.sentence-separator {
	color: maroon;
}
.rgraph_domtext_wrapper > span {
	color: dimgrey !important;
}
.rgraph_domtext_wrapper > span[id='175_12_Sentigraph_Index_si__cvs'] {
	color: orangered !important;
	font-weight: 500 !important;
	top: -10px !important;
}

#circle-results-chart {
	height: 500px;
	width: 100%;
	max-width: 500px;
	margin-left: 5%;
	text-align: center;
	float: left;
	position: relative;
	height: 500px;
	background-color: antiquewhite;
}

#circle-results-chart .sentence-pending-results-wrapper {
	height: 600px
}

.graph-explanation {
	color: lightseagreen;
	font-weight: 500;
	text-align: center;
	padding-top:20px;
}

.copy-to-clipboard {
	padding: 8px;
	border: 1px solid grey;
	cursor: pointer;
	border-radius: 5px;
}
.btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    min-height: 60px;
    white-space: pre-wrap;
    border: 2px solid transparent;
    border-radius: 0;
    padding: 16px 32px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
}
.btn-white {
    background-color: #fff;
    color: #261a4b;
    position: relative;
    font-size: 16px;
    padding-left: 48px;
}
.btn-yellow {
    color: #fff300;
    border-color: #fff300;
}
.btn-yellow-solid {
    background-color: #fff300;
    color: #261a4b;
}
.accent-yellow {
    color: #fff300;
}

.header-logo {
    position: absolute;
    height: 92px;
    padding: 30px 16px;
    top: 0;
    left: 0;
    right: 0;
}

.header-logo-wrapper {
    position: relative;
    height: 100%;
}

.logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo, .logout-link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.logo img {
    width: auto;
    height: 100%;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-bottom: 30px;
}

.form-control {
    display: block;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #50e3c2;
    color: #50e3c2;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    outline: 0;
}

.input-group .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group-prepend {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #50e3c2;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    color: #50e3c2;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (orientation : portrait) { 
	.sentence-pending-results-wrapper table {
		max-width: 375px;
	}

	svg { margin-left: -175px; }

	#circle-results-chart { 
		margin-left: 0px;  
		top: -100px;
		height: 400px;
		margin-top: 0px;
	}

	#circle-results-chart .sentence-pending-results-wrapper {
		height: 400px;
		max-width: 355px;
	}
	
	td.sentence-msg > div {
		width: 335px;
		overflow: hidden;
	}
}

@media only screen and (min-device-width: 300px) and (max-device-width: 400px) and (orientation : portrait) {

}
