#hashtag-results-wrapper {
	text-align: center;
	overflow-y: scroll;
	height: 400px;
}

.hashtag-results-date {
	color: red;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}
.hashtag-results-each {
	color: green;
	padding-left: 30px;
}

.hashtag-results-each b {
	color: black;
}
