button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
header.twitter-page-header {
   color:  black;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
   padding-top: 8px;
   padding-bottom: 8px
}
.twitter-page-subheader {
}

header.twitter-page-header i {
   font-style: normal;
   color: red;
}
header.twitter-page-header b {
  color: green;
}

.twitter-form-wrapper {
/*	margin-top: 70px; */
}

.ajax-loader {
	margin-top: 20px;
	min-height: 20px;
	display:none;
}

.check-save-img, .save-hashtag-img {
	display: none;
	max-width: 35px;
	background-color: antiquewhite;
	float: right;
	position: relative;
	left: -75px;
	top: 0px;
}

.sentence-results-wrapper {
	margin-top: 20px;
	min-height: 20px;
}

.sentence-results-wrapper i {
	font-weight: bold;
}

.sentence-results-wrapper b {
}

.grad-scale {
	display: none;
}
.grad-scale-bar {
	background: #01ff01; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #01ff01 0%, #038eff 51%, #038eff 51%, #038eff 51%, #ff0101 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #01ff01 0%,#038eff 51%,#038eff 51%,#038eff 51%,#ff0101 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #01ff01 0%,#038eff 51%,#038eff 51%,#038eff 51%,#ff0101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01ff01', endColorstr='#ff0101',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 40%;
	height: 40px;
	border: 1px inset black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.grad-scale-pointer {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	text-align: left;
}

.grad-scale-pointer img {
	max-width: 40px;
	position: relative;
	top: -10px;
}

.guage-chart {
	text-align: center;
}

.guage-chart > table {
	margin-left: auto !important;
	margin-right: auto !important;
	
}

input.form-control {
	border-bottom: 1px solid #50e3c2;
}

.index-wrapper {
width: calc(100vw - 60px);
    height: calc(100vw - 60px);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
	display: none;
}

.index-wrapper canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}
.index-odo {
    text-align: center;
    position: relative;
    z-index: 999;
}

.index-odo .index-tag {
    font-family: PT Mono,monospace;
    color: #50e3c2;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    -webkit-animation: fadeIn 1s ease .5s;
    animation: fadeIn 1s ease .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.index-odo .index-result {
    color: #fff300;
    font-size: 80px;
    line-height: 96px;
    margin-bottom: 32px;
    -webkit-animation: fadeIn 1s ease 1s;
    animation: fadeIn 1s ease 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-top: 30px;
}
.results-bottom {
	margin-bottom: 72px;
	display: none;
	position: relative;
	z-index: 9999;
}
.calc h1 {
 margin-top: 0px;
}
.calc-form {
    margin-bottom: 72px;
}
.calc-form input {
    text-transform: lowercase;
}
.btn.submit {
 width: 98%;
}
.welcome-text {
}
.results-text {
	padding-bottom: 10px;
}
@media only screen and (orientation: landscape) {
	.calc-form {
		margin-bottom: 30px;
	}
	.results-bottom {
		margin-bottom: 30px;
	}

	#index-meter {
		left: calc(50% - (100vh - 90px)/2);
	}
}

@media only screen and (max-device-width: 667px) and (min-device-width: 300px) and (orientation: portrait) {
svg {
     margin-left: 0px; 
}
}
