<% include ../partials/header %>
<% include ../partials/logo %>
<% include ../partials/pulse %>
<% include ../partials/facebook %>
<% include ../partials/google %>

<div class="welcome-text">
	<h1 class="accent-yellow">S3Pulse</h1><p>Monitoring the pulse<br> of Twitter's network.</p>
</div>

<div class="login-buttons">
	<a class="btn btn-white" href="/s3pulse/calc"><span class="social-facebook"><i class="fab fa-facebook-f"></i></span>Log in with Facebook</a>
	<a class="btn btn-white" href="/s3pulse/calc"><span class="social-google"><i class="fab fa-google"></i></span>Log in with Google</a>
</div>
<% include ../partials/footer %>
