<% include ../partials/header %>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script type="text/javascript">

var lotries = 0;

function doLogout() {
	if(lotries > 0) {
		 window.location.href = "/login"
	} else {
		lotries++;
	}
}

window.fbAsyncInit = function() {
          FB.init({    
            appId      : '509558469401143',
            cookie     : true,  // enable cookies to allow the server to access
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.8' // use graph api version 2.8
          });

	  FB.getLoginStatus(function(response) {
		if (response.status == "connected") {
			FB.logout(function(){ 
				doLogout();
			});
		} else {
			doLogout();
		}
          });

  };

function onSignIn(googleUser) {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
	doLogout();
    }).fail(function(){
	doLogout();
    });	
}

$(document).ready(function(){
	setTimeout(function() {
		window.location.href = "/login";
	}, 5000);
});
</script>
<% include ../partials/footer %>
