<% include ../partials/header %>  

<center><strong class="success-msg">Congratulations!</strong>
<div class="sentence-pending-results-wrapper" style="display: block;">
	Your transaction id and waves address have been saved. Your confirmation number is printed below. Please save it carefully for your records.<br>
	<div class="address-ro-wrapper">                  
		<input type="text" class="address-ro-input" id="hash-address-input" readOnly="true" value="<%=hash%>" /> <i class="copy-to-clipboard">Copy</i>                                        
	</div>
</div>
</center>

<% include ../partials/footer %>  
